:root {
    /* --main-bg-color: brown; */
    --bg-color1: rgb(94, 37, 37);
    --bg-color2: rgb(4, 178, 91);
    --bg-color3: rgb(20, 80, 160);

}


.container{
    max-width: 1270px;
}

/* HEADER */

.usuario{
    width: 75px;
    height: 41px;
    position: relative;
    right: 65px;
    bottom: 3px;
}

.ubicacion{
    width: 32px;
    height: 32px;
    position: relative;
    right: 80px;
}

svg{
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    position: relative;
    right: 60px;
    top: 15px;
}

.ms-auto {
    position: relative;
    right: 420px;
}

.custom-search{
    width: 367px;
    height: 38px;
    border-radius: 10px;
    position: relative;
    left: 160px;
    background-color: #376aae;
    border: 2px solid #4c7ab7;
    text-indent: 40px;
    bottom: 8px;
}

.custom-search::placeholder {
    color: white;
}

.img-lupa{
    position: relative;
    right: 205px;
    bottom: 1px;
}

.texto-menu{
    color: white;
    position: relative;
    right: 90px;
    bottom: 2px;
}

.carta{
    position: relative;
    right: 435px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.numero-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: relative;
    right: 68px;
    bottom: 35px;
    display: flex;
    justify-content: center;
}

/* FOOTER */

.copyright{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    top: 47px;
    right: 30px;
}

.bg-custom{
    background-color: #1450A0;
    position: absolute;
    margin-top: 20px;
}

/* ELEMENTOS PAGINA */

.titulo-p{
    font-family: "Arvo", sans-serif;
    font-size: 30px;
    color: var(--bg-color3);
    padding-top: 15px;
    padding-bottom: 15px;
}