body {
    background-color: #f5f5f5;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff973b;
    --bs-btn-border-color: #ff973b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff973b;
    --bs-btn-hover-border-color: #ff973b;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff973b;
    --bs-btn-active-border-color: #ff973b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff973b;
    --bs-btn-disabled-border-color: #ff973b;
}
/* DIV PRODUCTO */
h1 {
    color: #1450a0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    margin-left: 35px;
    margin-bottom: 5px;
}

.producto {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 782px;
    margin-top: 35px;
    width: 800px;
    height: 245px;
}

.img-producto {
    margin-right: 10px;
}
/* DETALLES DEL PRODUCTO */
.detalles{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: -86px;
}

.botones {
    margin-top: auto; 
    margin-left: 120px;
    margin-top: 23px;
}

.cantidad{
    width: 47px;
    text-align: center;
    height: 29px;
    border: 1px solid #ccc;
    vertical-align: middle;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}

.precio-total{
    margin-left: 682px;
    margin-top: -35px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
}

label[for="cantidad"]{
    color: #153a59;
    font-size: 13px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}

.nombre-producto{
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.id-producto{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.precio-producto{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.b1{
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    color: #d4d2d2;
    cursor: pointer;
    width: 29px;
    height: 29px;
    background-color: transparent;
    vertical-align: middle;
    margin-right: -6px;
}

.b2{
    border: 1px solid #ccc;
    border-radius: 0 15px 15px 0;
    color: #d4d2d2;
    cursor: pointer;
    width: 29px;
    height: 29px;
    background-color: transparent;
    vertical-align: middle;
    margin-left: -5px;
}

.carrito{
    width: 40px;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 20px;
}

/* SEGUNDO DIV (opciones de compra y precios totales*/
.resumen{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 835px;
    top: 158px;
    width: 500px;
    height: 900px;
}

.envio{
    display: flex;
    flex-direction: column;
}

.envio input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-right: 8px;
    cursor: pointer;
}

.envio input[type="radio"]:checked {
    background-color: #1450A0;
}

.c1{
    position: absolute;
    left: 60px;
    bottom: 856px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: #153A59;
}

.c2{
    position: absolute;
    top: 96px;
    left: 60px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: #153A59;
}

.c3{
    position: absolute;
    top: 193px;
    left: 60px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: #153A59;
}

input#domicilio {
    position: relative;
    top: 23px;
    left: 29px;
}

input#recogida {
    position: relative;
    top: 98px;
    right: 5px;
}

input#tienda {
    position: relative;
    top: 194px;
    right: 40px;
}

/* PRECIOS SUBTOTAL, TOTAL Y ENVIO */

.precios{
    position: absolute;
    top: 286px;
    left: 30px;
}

.precio {
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    left: 365px;
}

.precio2{
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    left: 365px;
}

.precio3{
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    position: absolute;
    left: 362px;
}

.pre-text{
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

.pre-text2{
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
}

/* SECCION CUPON */

.linea{
    width: 462px;
    position: relative;
    right: 12px;
}

.linea2{
    width: 462px;
    position: relative;
    right: 12px;
    top: 10px;
}

.linea3{
    width: 462px;
    position: relative;
    right: 12px;
    top: 55px;
}

input#cupon{
    border-radius: 10px;
    height: 42px;
    padding-bottom: 9px;
    font-size: 14px;
}

.btn-cupon{
    background: rgb(20, 80, 160);
    border: rgb(20, 80, 160);
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 206px;
    font-size: 12px;
}

.btn-cupon:hover{
    background-color: #FF973B;
}

label[for="cupon"]{
    color: #153A59;
    position: relative;
    top: 3px;
    padding-bottom: 25px;
    font-size: 13px;
    font-weight: 500;
}

.btn-finalizar{
    border: 3px solid;
    border-radius: 10px!important;
    color: #fff;
    background-color: #00ae42;
    border-color: #00ae42;
    width: 436px;
    height: 60px;
    position: absolute;
    top: 350px;
    right: 25px;
}

.btn-finalizar:hover{
    color: #fff;
    background-color: #ff973b;
    border-color: #ff973b;
}

/*ELIMINAR PRODCUTO Y MOVER A FAVORITOS - BOTONES */

.eliminar-p{
    width: 148px;
    height: 32px;
    font: 12px arial,sans-serif;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    position: relative;
    left: 5px;
    top: 18px;
}

.eliminar-p:hover{
    color: white;
    background-color: #FF973B;
    border: none;
}

.favoritos{
    width: 158px;
    height: 32px;
    font: 12px arial,sans-serif;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    position: relative;
    left: 15px;
    top: 18px;
}

.favoritos:hover{
    color: white;
    background-color: #FF973B;
    border: none;
}

/* PRODUCTOS RECOMENDADOS */

.p-recomendados{
    text-align: center;
    font-family:Arvo,'open sans-serif';
    font-size: 30px;
    position: relative;
    top: 665px;
    color: #1450a0;
}

.card-title{
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.card-text{
    font-size: 19px;
    font-family: "Arvo", sans-serif;
    color: #1450A0;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 206px;
    height: 160px;
}

.tarjetas{
    position: relative;
    top: 680px;
    right: 32px;
}

.uno{
    margin-left: 40px;
}

.dos{
    margin-left: 15px;
}