/* DESPLEGABLE MI CUENTA */


.dropdown-toggle::after {
    display: none;
}

#mi-header{
    transition: transform 0.3s ease;
    z-index: 1000;
    position: relative;
}

#carouselExampleIndicators{
    position: relative;
    z-index: 500;
}

#desplegable-menu{
    display: none;
    height: 102px;
    width: 100%;
    text-align: center;
    background-color: #4e78b4;
    left: 0px;
    transform: translateY(-187px);
    border-bottom: 1px solid #1450a0;
    border-left: 1px solid #4e78b4;
    border-right: 1px solid #4e78b4;
}

#desplegable-menu li button, #desplegable-menu li a{
    border: 1px solid #638ECB;
    border-top: none;
}

.mis-pedidos {
    position: relative;
    left: 647px;
    width: 701px;
    bottom: 57px;
    height: 50px;
    color: white;
    padding-top: 0px;
    text-align: left;
}

.mis-pedidos:hover{
    color: white;
    background-color: #1450A0;
}

.salir {
    width: 650px;
    color: white;
    height: 50px;
    position: relative;
    bottom: 7px;
    padding-top: 0px;
    text-align: left;
    right: 2px;
}

.salir:hover {
    color: white;
    background-color: #1450a0;
}

.admin-productos{
    color: white;
    position: relative;
    width: 650px;
    bottom: 58px;
    height: 50px;
    padding-top: 10px;
    text-align: left;
    right: 2px;
}

.admin-productos:hover {
    color: white;
    background-color: #1450a0;
}