@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);
}

:root{
    --bg-color4: rgb(20, 80, 160);
}

body{
    background-color: #F5F5F5;
}

.container{
    max-width: 1270px;
}

/* HEADER */

.usuario{
    width: 75px;
    height: 41px;
    position: relative;
    right: 65px;
    bottom: 3px;
}

.ubicacion{
    width: 32px;
    height: 32px;
    position: relative;
    right: 80px;
}

header svg{
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    position: relative;
    right: 60px;
    top: 15px;
}

.ms-auto {
    position: relative;
    right: 420px;
}

.custom-search{
    width: 367px;
    height: 38px;
    border-radius: 10px;
    position: relative;
    left: 160px;
    background-color: #376aae;
    border: 2px solid #4c7ab7;
    text-indent: 40px;
}

.custom-search::placeholder {
    color: white;
}

.img-lupa{
    position: relative;
    right: 205px;
    top: 7px;
}

.texto-menu{
    color: white;
    position: relative;
    right: 90px;
    bottom: 2px;
}

.carta{
    position: relative;
    right: 435px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.numero-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: relative;
    right: 68px;
    bottom: 35px;
    display: flex;
    justify-content: center;
}

/* TITULOS PRINCIPALES */

.h2-carta{
    text-align: center;
    font-family: "Arvo", sans-serif;
    font-size: 30px;
    color: var(--bg-color4);
    margin-top: 30px;
}

.t-menu{
    text-align: center;
    font-family: "Arvo", sans-serif;
    font-size: 30px;
    color: var(--bg-color4);
    padding: 50px;
    position: relative;
    bottom: 30px;
}

/* TARJETAS PRODUCTOS */

.container .subtitulo {
    font-family: "Nunito Sans", sans-serif;
    color: var(--bg-color4);
    font-size: 20px;
    margin-left: 170px;
}

.card-title{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    margin-top: 95px;
}

.card-text{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: var(--bg-color4);
}

.card-body{
    margin-top: 110px;
}

.card{
    width: 209px;
    height: 367px;
    margin-left: 170px;
    position: relative;
    border: none;
}

.card-container{
    margin-bottom: 40px;
    margin-top: 30px;
}

.tarjetas{
    position: relative;
    right: 365px;
    margin-left: 360px;
}

.carro{
    width: 25px;
    height: 37px;
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.carro-color{
    fill: #d3d3d3;
    stroke: none;
}

.carro:hover .carro-color{
    fill: #00AE42;
}

.img-product{
    width: 205px;
    height: 186px;
    position: absolute;
    top: 0;
    left: 0;
}

.precio{
    position: absolute;
    margin-top: 70px;
}

.productos-totales{
    text-align: right;
    margin-top: -30px;
    color: #929292;
    position: relative;
    right: 202px;
}

.novedad{
    position: absolute;
    top: 185px;
    color: #ea7125;
}

.special-card::after{
    content: "";
    display: block;
    height: 10px;
    background-color: #ea7125;
    width: 209px;
    margin-left: 170px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.carro-btn{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.carrito{
    width: 40px;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.contenedor{
    position: relative;
    bottom: 60px;
}
/* FOOTER */

.copyright{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    top: 47px;
    right: 30px;
}

.bg-custom{
    background-color: #1450A0;
}

/* DESPLEGABLE MI CUENTA */


.dropdown-toggle::after {
    display: none;
}

#mi-header{
    transition: transform 0.3s ease;
    z-index: 1000;
    position: relative;
}

#desplegable-menu{
    display: none;
    height: 102px;
    width: 100%;
    text-align: center;
    background-color: #4e78b4;
    left: 0px;
    transform: translateY(-187px);
    border-bottom: 1px solid #1450a0;
    border-left: 1px solid #4e78b4;
    border-right: 1px solid #4e78b4;
}

#desplegable-menu li button, #desplegable-menu li a{
    border: 1px solid #638ECB;
    border-top: none;
}

.mis-pedidos {
    position: relative;
    left: 647px;
    width: 701px;
    bottom: 73px;
    height: 50px;
    color: white;
    padding-top: 0px;
    text-align: left;
}

.mis-pedidos:hover{
    color: white;
    background-color: #1450A0;
}

.salir {
    width: 650px;
    color: white;
    height: 50px;
    position: relative;
    bottom: 7px;
    padding-top: 0px;
    text-align: left;
    right: 2px;
}

.salir:hover {
    color: white;
    background-color: #1450a0;
}

.admin-productos{
    color: white;
    position: relative;
    width: 650px;
    bottom: 108px;
    height: 50px;
    padding-top: 10px;
    text-align: left;
    right: 2px;
}

.admin-productos:hover {
    color: white;
    background-color: #1450a0;
}

.mod-usuario{
    position: relative;
    width: 701px;
    height: 50px;
    left: 647px;
    bottom: 90px;
    color: white;
    text-align: left;
}

.mod-usuario:hover{
    color: white;
    background-color: #1450a0;
}

/* VENTANA EMERGENTE CARRITO */

#ventana{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* bottom: -43px; */
    width: 932px;
    height: 236px;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

#btnFinalizarCompra{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 48px;
    margin-right: 48px;
    background-color: #00ae42;
    border-color: #00ae42;
    box-shadow: none;
    color: #fff;
    outline: auto;
    position: relative;
    top: 60px;
}

#btnContinuarComprando{
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    background-color: #66BC29;
    border-color: #66BC29;
    box-shadow: none;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 10px;
    margin-top: 65px;
    outline: auto;
}

.div-ventana{
    display: flex;
    flex-direction: column;
}

.mi-cesta{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 48px;
    position: relative;
    top: 40px;
}