:root{
    --bg-color4: rgb(20, 80, 160);
}

body{
    background-color: #F5F5F5;
}

.container{
    max-width: 1270px;
}

label {
    color: black;
    font-weight: 500;
    font-size: 13px;
    text-transform: none;
    margin-bottom: 5px;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    h1{
        color: var(--bg-color2);
        width: 100%;
        background: yellow;
    }

    .navbar-toggler{
        z-index: 1000;
    }

    .ubi {
        position: relative;
        left: 285px;
        bottom: 25px;
    }
    
    .mi-cuenta{
        position: relative;
        left: 260px;
        bottom: 156px;
        width: 100px;
    }

    .carta {
        position: relative;
        left: 205px;
        top: 35px;
    }

    .buscador{
        left: 50%;
        transform: translateX(-75%);
        top: 120px;
    }
}

/* CSS PAGINA ELEMENTOS */

.form-group {
    margin-bottom: 30px;
}

.principal {
    margin-left: 40px;
    margin-right: 40px;
}

.titulo{
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
    color: var(--bg-color4);
}

.linea{
    position: relative;
    right: 25px;
    width: 104%;
}

/* BOTONES */

.btn-act{
    border-radius: 10px!important;
    color: #fff;
    background-color: #00ae42;
    border-color: #00ae42;
    width: 315px;
}

.btn-act:hover{
    color: #fff;
    background-color: #ff973b;
    border-color: #ff973b;
}

.btn.btn-act:active, .btn.btn-act:focus{
    background-color: #ff973b;
    border-color: #ff973b;
    color: #fff;
}

.btn-cancelar{
    border-radius: 10px!important;
    color: #fff;
    background-color: #66BC29;
    border-color: #66BC29;
    width: 315px;
}

.btn-cancelar:hover{
    color: #fff;
    background-color: #ff973b;
    border-color: #ff973b;
}

.btn.btn-cancelar:active, .btn.btn-cancelar:focus{
    background-color: #ff973b;
    border-color: #ff973b;
    color: #fff;
}

/* HEADER Y FOOTER */

.usuario{
    width: 75px;
    height: 41px;
    position: relative;
    right: 65px;
    bottom: 3px;
}

.ubicacion{
    width: 32px;
    height: 32px;
    position: relative;
    right: 80px;
}

header svg{
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    position: relative;
    right: 60px;
    top: 15px;
}

.ms-auto {
    position: relative;
    right: 420px;
}

.custom-search{
    width: 367px;
    height: 38px;
    border-radius: 10px;
    position: relative;
    left: 160px;
    background-color: #376aae;
    border: 2px solid #4c7ab7;
    text-indent: 40px;
    bottom: 8px;
}

.custom-search::placeholder {
    color: white;
}

.img-lupa{
    position: relative;
    right: 205px;
    bottom: 1px;
}

.texto-menu{
    color: white;
    position: relative;
    right: 90px;
    bottom: 2px;
}

.carta{
    position: relative;
    right: 435px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.numero-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: relative;
    right: 68px;
    bottom: 35px;
    display: flex;
    justify-content: center;
}

/* FOOTER */

.copyright{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    top: 47px;
    right: 30px;
}

.bg-custom{
    background-color: #1450A0;
    position: absolute;
    top: 725px;
}