/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color1: rgb(94, 37, 37);
    --bg-color2: rgb(4, 178, 91);
    --bg-color3: rgb(20, 80, 160);

}


.container{
    max-width: 1270px;
}

/* TITULOS PAGINA */

.h3-reseña{
    color: var(--bg-color3);
    text-align: center;
    margin-top: 95px;
    margin-bottom: 50px;
    font-family: "Arvo", sans-serif;
    font-size: 30px;
}

.h2-reseña{
    color: var(--bg-color3);
    text-align: center;
    font-family: "Arvo", sans-serif;
    font-size: 30px;
    margin-top: 40px;
}

/* FORMULARIO */

.label-form {
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 10px;
    height: 32px;
    width: 50%;
}

.label-form:focus{
    box-shadow: none;
}

label {
    color: black;
    font-weight: 500;
    font-size: 13px;
    text-transform: none;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 30px;
    margin-left: 460px;
}

.input-pedido{
    width: 50%;
}

/* BOTONES */

.btn-enviar{
    border-radius: 10px;
    background-color: #00ae42;
    border: none;
    margin-left: 460px;
    width: 110px;
    height: 30px;
}

.btn-enviar:hover{
    background-color: #FF973B;
    border: none;
    border-radius: 10px;
    width: 110px;
    height: 30px;
}

/* TABLA RESEÑAS */

#reseñas-container{
    margin-left: 460px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 5px;
}

.reseña-contenedor {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    right: 230px;
}

/* ESTRELLAS Y ELEMENTOS CONTENEDOR */

img.img-estrella {
    width: 16px;
}

.comentario {
    margin-top: 10px;
    margin-left: 15px;
}

.puntuacion {
    margin-top: 10px;
    margin-left: 15px;
}

.nombreUsuario {
    margin-left: 15px;
    font-weight: 500;
}

/* FILTRO */

.filtro-reseñas {
    margin-left: 235px;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
}

.filtro-ordenar {
    position: relative;
    left: 500px;
    width: 200px;
    bottom: 30px;
}