@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);
}

/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color1: rgb(94, 37, 37);
    --bg-color2: rgb(4, 178, 91);
    --bg-color3: rgb(20, 80, 160);

}

h1{
    color: var(--bg-color1);
    width: 50%;
    background: yellow;
}

/*Media query*/

.container{
    max-width: 1270px;
}

/*CARROUSEL CSS */

.carousel-indicators [data-bs-target]{
    width: 10px; 
    height: 10px; 
    margin: 0 5px; 
    border: none;
    border-radius: 50%; 
    background-color: #ddd;
    position: relative;
    top: 40px; 
}

.carousel-indicators .active {
    background-color: #007bff; 
}


/* SECCIONES DE LA PAGINA */

.sliderbg{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h2-inicio{
    color: var(--bg-color3);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Arvo", sans-serif;
    font-size: 30px;
}

.btn-primary{
    background-color: #004BBE;
}
.btn-primary:hover{
    background-color: #FF973B;
}

.mx-6 {
    margin-right: 9.85rem; 
    margin-left: 9.85rem;  
}

.container-sec{
    margin-top: 100px;
}

.parraf{
    color: #005BB5;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.parraf2{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 10px;
}

.ultProductos{
    background-color: #F5F5F5;
    padding: 15px;
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
}

.ult-product{
    text-align: center;
    margin-bottom: 30px;
    color: var(--bg-color3);
    font-family: "Arvo", sans-serif;
    font-size: 30px;
}

/* FOOTER */

.copyright{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    top: 47px;
    right: 30px;
}

.bg-custom{
    background-color: #1450A0;
}

/* PRODUCTOS VISITADOS */

.card-title{
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.card-text{
    font-size: 19px;
    font-family: "Arvo", sans-serif;
    color: #1450A0;
}

.btn-custom {
    width: 200px; 
    height: 85px; 
}

.b1{
    position: relative;
    right: 135px;
}
.b2{
    position: relative;
    left: 135px;
}

.b-text{
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    padding-top: 30px;
}

/* ULTIMOS PRODUCTOS VISITADOS */

#product-2{
    position: absolute;
    left: 40px;
    border: none;
}

#product-9{
    position: absolute;
    left: 366px;
    border: none;
}

#product-3{
    position: absolute;
    right: 40px;
    border: none;
}

#product-21{
    position: relative;
    left: 6px;
    border: none;
}

#product-2 .product-image {
    margin-left: 45px;
}

#product-9 .product-image {
    margin-left: 41px;
}

#product-21 .product-image {
    margin-left: 25px;
}

#product-3 .product-image {
    margin-left: 43px;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 206px;
    height: 160px;
}

/* VENTANA EMERGENTE CARRITO */

#ventana{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* bottom: -43px; */
    width: 932px;
    height: 236px;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

#btnFinalizarCompra{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 48px;
    margin-right: 48px;
    background-color: #00ae42;
    border-color: #00ae42;
    box-shadow: none;
    color: #fff;
    outline: auto;
    position: relative;
    top: 60px;
}

#btnContinuarComprando{
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    background-color: #66BC29;
    border-color: #66BC29;
    box-shadow: none;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 10px;
    margin-top: 65px;
    outline: auto;
}

.div-ventana{
    display: flex;
    flex-direction: column;
}

.mi-cesta{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 48px;
    position: relative;
    top: 40px;
}