@media (min-width: 1024px){
.col-md-6 {
    width: 50%;
}
}

.container{
    max-width: 1270px;
}

body{
    background-color: #F5F5F5;
}

/* HEADER */

.usuario{
    width: 75px;
    height: 41px;
    position: relative;
    right: 65px;
}

.ubicacion{
    width: 32px;
    height: 32px;
    position: relative;
    right: 80px;
}

svg{
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    position: relative;
    right: 60px;
    top: 15px;
}

.ms-auto {
    position: relative;
    right: 420px;
}

.custom-search{
    width: 367px;
    height: 38px;
    border-radius: 10px;
    position: relative;
    left: 160px;
    background-color: #376aae;
    border: 2px solid #4c7ab7;
    text-indent: 40px;
}

.custom-search::placeholder {
    color: white;
}

.img-lupa{
    position: relative;
    right: 205px;
    top: 7px;
}

.texto-menu{
    color: white;
    position: relative;
    right: 90px;
}

.carta{
    position: relative;
    right: 435px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.numero-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: relative;
    right: 68px;
    bottom: 35px;
    display: flex;
    justify-content: center;
}

/* FOOTER */

.copyright{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    top: 47px;
    right: 30px;
}

.bg-custom{
    background-color: #1450A0;
    position: absolute;
    top: 450px;
}

/* VENTANA EMERGENTE CARRITO */

#ventana{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* bottom: -43px; */
    width: 932px;
    height: 236px;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

#btnFinalizarCompra{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 48px;
    margin-right: 48px;
    background-color: #00ae42;
    border-color: #00ae42;
    box-shadow: none;
    color: #fff;
    outline: auto;
    position: relative;
    top: 60px;
}

#btnContinuarComprando{
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    background-color: #66BC29;
    border-color: #66BC29;
    box-shadow: none;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 10px;
    margin-top: 65px;
    outline: auto;
}

.div-ventana{
    display: flex;
    flex-direction: column;
}

.mi-cesta{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 48px;
    position: relative;
    top: 40px;
}

/* FORMULARIO */

#registro-tab {
    position: relative;
    left: 303px;
    width: 326px;
    padding-left: 115px;
    color: black;
}

#login-tab {
    position: relative;
    left: 304px;
    width: 300px;
    padding-left: 115px;
}

.bg-login {
    background-color: white;
    padding-left: 15px;
    padding-right: 10px;
    position: relative;
    left: 305px;
    padding-bottom: 20px;
}

.custom-tabs {
    border: none;
}