:root {
    /* --main-bg-color: brown; */
    --bg-color1: rgb(94, 37, 37);
    --bg-color2: rgb(4, 178, 91);
    --bg-color3: rgb(20, 80, 160);

}


.container{
    max-width: 1270px;
}

/* FOOTER */

.copyright{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    top: 47px;
    right: 30px;
}

.bg-custom{
    background-color: #1450A0;
    position: absolute;
    margin-top: 140px;
}

/* TITULO H2  */

.mispedidos{
    font-family: "Arvo", sans-serif;
    font-size: 30px;
    color: var(--bg-color3);
    margin-bottom: 20px;
    margin-top: 15px;
}